@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
html, body, #__next {
  height: 100%;
}
body {
  @apply bg-white text-gray-800;
}

/* image helper */
.img-cover {
  object-fit: cover;
}
